html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
	background-color: rgba(255,255,255,1.0);
	position: relative;
}
.header-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row; 
	-webkit-box-pack: justify; 
	    -ms-flex-pack: justify; 
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	color: rgba(255,255,255,1.0);
	font-family: sans-serif;
	background-color: rgba(0,0,0,0.3);
	z-index: 3;
	position: fixed;
	padding: 3px 0 3px 0;
}
.left-header {
	float: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 0 0 10px;
	padding: 0 0 0 0;
}
.circles {
	font-size: 8px;
	margin: 0 10px 0 0;
}
.sketch {
	font-size: 12px;
	margin: 0 10px 0 0;
}
.fa-wifi {
	font-size: 14px;
	margin: 0 10px 0 0;
}
.time {
	font-size: 12px;
	text-align: center;
	margin: 0 55px 0 0;
}
.right-header {
	float: right;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 10px 0 0;
	padding: 0 0 0 0;
}
.battery-percentage {
	font-size: 12px;
	margin: 0 0 0 10px;
}
.fa-battery-full {
	font-size: 14px;
	margin: 0 0 0 10px;
}
/**/
section.load-screen {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,1.0);
	z-index: -1;
}
.load-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	padding: 150px 0 0 0;
	background-color: rgba(0,0,0,1.0);
	/*height: 100vh;*/
}
.g-load {
	color: rgba(255,255,255,1.0);
	border: 3px solid rgba(255,255,255,1.0);
	padding: 10px 20px 10px 20px;
	font-size: 50px;
}
.gronland-load {
	color: rgba(255,255,255,1.0);
	font-size: 30px;
	display: inline;
}
.gronland-load p {
	font-size: 8px;
	position: relative;
	display: inline;
	top: -15px;
}
/**/
.loader {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	margin: 150px .5em 50px 0;
	font-size: 6px;
	/*text-indent: 999em;*/
	overflow: hidden;
	-webkit-animation: spin 1s infinite steps(8);
	        animation: spin 1s infinite steps(8);
}
.loader:before,
.loader:after,
.loader > div:before,
.loader > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; /* (container width - part width)/2  */
	width: .5em;
	height: 1.5em;
	border-radius: .3em;
	-webkit-box-shadow: 0 3.5em #eee;
	        box-shadow: 0 3.5em #eee; /*container height - part height */
	-webkit-transform-origin: 50% 2.5em;
	    -ms-transform-origin: 50% 2.5em;
	        transform-origin: 50% 2.5em; /* container height / 2 */
}
.loader:before {
	background: #555;
}
.loader:after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	background: #777;
}
.loader > div:before {
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	background: #999;
}
.loader > div:after {
	-webkit-transform: rotate(-135deg);
	    -ms-transform: rotate(-135deg);
	        transform: rotate(-135deg);
	background: #bbb;
}
@-webkit-keyframes spin {
	to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes spin {
	to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes fadeout {
	from {opacity: 1;}
	to {opacity: 0;}
}
@keyframes fadeout {
	from {opacity: 1;}
	to {opacity: 0;}
}
/**/
/**/
section.main-page {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	grid-template: [hero] 90vh [black-bar] 60px [recommendations] auto [other-products] 50vh [trips] 60vh [footer] 10vh / 1fr;
	/*grid-template: [hero] 500px [black-bar] 50px [recommendations] auto [other-products] 200px [trips] 200px [footer] 50px / 1fr;*/
	font-family: 'Rubik', sans-serif;
	z-index: 0;
}
.main-page-other {
	dislay: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.hero-img {
	background-size: cover;
	width: 100%;
	/*height: 90vh;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: rgba(255,255,255,1.0);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.hero-img h1 {
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 2px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	padding: 0 10px 0 10px;
	margin: 150px 0 0 0;
	text-align: center;
}
.hero-img p {
	font-weight: 300;
	font-size: 14px;
}
.hero-img a {
	font-weight: 400;
	font-size: 16px;
	background-color: rgba(121,0,251,1.0);
	padding: 10px 25px 10px 25px;
	text-align: center;
	margin: 30px 0 0 0;
	cursor: pointer;
}
.dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 10px;
	margin:  50px 0 0 0;
	padding: 0 0 0 0;
}
.dot {
	padding: 0 2.5px 0 2.5px;
}
/**/
.black-bar-fixed {
	position: fixed;
	padding-top: 10px;
	-webkit-box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.75);
	        box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.75);
}
.black-header {
	background-color: rgba(0,0,0,1.0);
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	    -ms-flex-direction: column; 
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: 'Merriweather', serif;
	z-index: 3;
	overflow: hidden;
	min-height: 50px;
}
.black-header h2 {
	font-size: 20px;
	color: rgba(255,255,255,1.0);
	display: inline;
}
.black-header p {
	font-size: 6px;
	position: relative;
	display: inline;
	top: -10px;
}
.black-header-fixed {
	position: fixed;
	-webkit-box-shadow: 0 5px rgba(0,0,0,0.2);
	        box-shadow: 0 5px rgba(0,0,0,0.2);
}
/**/
.recommendations {
	background-color: rgba(234,234,234,1.0);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 20px 0 20px 0;
}
.recommendations h2 {
	-ms-flex-item-align: start;
	    align-self: flex-start;
	font-size: 22px;
	margin: 10px 0 0 10px;
}
.products {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; 
	
	width: 100vw; 
	background-color: rgba(234,234,234,1.0);
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none; 
	will-change: transform;
	position: relative;
	/**/
	/**/
	/*https://css-tricks.com/introducing-css-scroll-snap-points/*/
	-webkit-overflow-scrolling: touch;
	-webkit-scroll-snap-type: mandatory;
	    -ms-scroll-snap-type: mandatory;
	        scroll-snap-type: mandatory;
	/* older spec implementation */
	-webkit-scroll-snap-destination: 0% 100%;
	    -ms-scroll-snap-destination: 0% 100%;
	        scroll-snap-destination: 0% 100%;
	-webkit-scroll-snap-points-x: repeat(100%);
	    -ms-scroll-snap-points-x: repeat(100%);
	        scroll-snap-points-x: repeat(100%);
	margin: 0 0 0 0;
	padding: 0 0 20px 0;
}
.product-wrap {
	scroll-snap-align: start;
	/**/
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column; 
	-webkit-box-pack: center; 
	    -ms-flex-pack: center; 
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 25px 0 0 0;
	padding: 0 10px 0 10px;
	width: 320px;
}
@media (max-width: 600px) {
	.products {
		display: inline;
	}
	.product-wrap {
		width: 100%;
	}
}
.product {
	display: grid; 
	grid-template: 1fr / 2fr 3fr 0fr 2fr;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	width: 280px;
	background-color: rgba(255,255,255,1.0);
}
.product img {
	padding: 40px 0 40px 0;
	background-color: rgba(255,255,255,1.0);
	cursor: pointer;
}
.product div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: rgba(255,255,255,1.0);
}
.for-heart {
	/*z-index: 1;*/
	-ms-flex-item-align: start;
	    align-self: flex-start;
	position: relative;
	top: 40px;
	right: 20px;
}
.product .fa-heart-o {
	font-size: 25px;
	padding: 10px;
	background-color: rgba(255,255,255,1.0);
	cursor: pointer;
	margin: 0 0 0 0;
	position: absolute;
	z-index: 3;
}
.product .fa-heart {
	font-size: 25px;
	padding: 10px;
	background-color: rgba(255,255,255,1.0);
	cursor: pointer;
	margin: 0 0 0 0;
	position: absolute;
	z-index: 3;
	text-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75);
}
.fa-angle-left {
	height: 280px;
	padding: 0 10px 0 10px;
	background-color: rgba(255,255,255,1.0);
	font-size: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-item-align: start;
	    align-self: flex-start;
	cursor: pointer;
	z-index: 3;
}
.fa-angle-right {
	height: 280px;
	padding: 0 10px 0 10px;
	background-color: rgba(255,255,255,1.0);
	font-size: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-item-align: end;
	    align-self: flex-end;
	cursor: pointer;
	z-index: 3;
}
.product-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	width: 260px;
}
.description {
	font-size: 18px;
	padding: 0 0 0 0;
	margin: 10px 0 5px 0;
	cursor: pointer;
}
.price {
	font-weight: bold;
	font-size: 26px;
	padding: 0 0 0 0;
	margin: 5px 0 5px 0;
}
.stars {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-line-pack: center;
	    align-content: center; 
	margin: 5px 0 5px 0;
	cursor: pointer;
}
.fa-star, .fa-star-o, .fa-star-half-o {
	color: rgba(255,177,0,1.0);
	font-size: 14px;
}
.stars p {
	font-size: 14px;
	color: rgba(30,30,30,0.8);
	margin: 0 0 0 10px;
}
.colors {
	font-size: 22px;
	padding: 5px 0 10px 0;
	cursor: pointer;
}
.jacket .one {
	color: rgba(255,114,0,1.0);
	padding: 0 0 0 0;
}
.jacket .two {
	color: rgba(0,0,0,1.0);
	padding: 0 0 0 10px;  
}
.pants .one {
	color: rgba(67,101,68,1.0);
	padding: 0 0 0 0;
}
.pants .two {
	color: rgba(0,0,0,1.0);
	padding: 0 0 0 10px;  
}
.backpack .one {
	color: rgba(0,0,0,1.0);
	padding: 0 0 0 0;
}
.backpack .two {
	color: rgba(227,10,7,1.0);
	padding: 0 0 0 10px;  
}
/**/
.other-products {
	background-color: rgba(255,255,255,1.0);
	border: 5px solid rgba(254,50,50,1.0);
	height: 50vh;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column; 
	-webkit-box-pack: center; 
	    -ms-flex-pack: center; 
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.other-products h2 {
	font-size: 20px;
	color: rgba(254,50,50,1.0);
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	margin: 0 0 10px 0;
	padding: 0 10px 0 10px;
	text-align: center;
}
.other-products hr {
	width: 15%;
	color: rgba(254,50,50,1.0);
	margin: 10px 0 10px 0;
	padding: 0 0 0 0;
}
.other-products a {
	background-color: rgba(254,50,50,1.0);
	color: rgba(255,255,255,1.0);
	text-decoration: none;
	margin: 10px 0 0 0;
	padding: 8px 12px 8px 12px;
}
/**/
.trips {
	background-image: url('gronland expedition.jpg');
	background-size: cover;
	height: 60vh;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column; 
	-webkit-box-pack: center; 
	    -ms-flex-pack: center; 
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.trips h2 {
	font-size: 22px;
	color: rgba(255,255,255,1.0);
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
	text-align: center;
}
.trips p {
	font-size: 12px;
	color: rgba(255,255,255,1.0);
	margin: 5px 0 5px 0;
	padding: 0 0 0 0;
}
.trips hr {
	width: 15%;
	color: rgba(254,50,50,1.0);
	margin: 10px 0 10px 0;
	padding: 0 0 0 0;
}
.trips a {
	background-color: rgba(254,50,50,1.0);
	color: rgba(255,255,255,1.0);
	text-decoration: none;
	margin: 10px 0 0 0;
	padding: 8px 12px 8px 12px;
}
/**/
.footer-icons-expand {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	/*height: 100vh;*/
	height: 100%;
	background-color: rgba(234,234,234,1.0);
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.footer-icons-expand h2 {
	/*height: 10vh;*/
	height: 60px;
	background-color: rgba(234,234,234,1.0);
	border-bottom: 2px solid rgba(0,0,0,0.2);
	padding: 5px;
	margin: 0 0 0 0;
	font-size: 18px;
	color: rgba(0,0,0,0.9);
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer-icons-expand .format {
	height: 80vh;
	background-color: rgba(234,234,234,1.0);
	width: 100%;
	oveflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
/*SEARCH*/
.footer-icons-expand .fa-search {
	color: rgba(0,0,0,0.9);
	display: inline-block;
	font-size: 20px;
	position: relative;
	top: -35px;
	right: 70px;
	-ms-flex-item-align: end;
	    align-self: flex-end;
	cursor: pointer;
}
.footer-icons-expand input {
	margin: 10px 0 0 0;
	width: 90vw; 
	padding: 15px;
}
.footer-icons-expand .fa-search {
	margin: 0 0 0 0;
}
.footer-icons-expand ul {
	list-style-type: none;
}
/*CART*/
.cart-items-dropdown {
	height: 100%;
	margin: 10px 0 0 0;
	padding: 0 0 0 0;
}
.sum-total {
	display: block;
	border: 2px solid rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,1.0);
	padding: 10px 25px 10px 25px;
	margin: 10px 0 10px 0;
	text-align: center;
}
.checkout {
	display: block;
	color: rgba(255,255,255,1.0);
	font-weight: 400;
	font-size: 16px;
	background-color: rgba(121,0,251,1.0);
	padding: 10px 25px 10px 25px;
	margin: 10px 0 10px 0;
	cursor: pointer;
}
/*WISHLIST*/
.wishlist {
	height: 100%;
	margin: 10px 0 0 0;
	padding: 0 0 0 0;
}
.no-items {
	font-size: 14px;
	color: rgba(0,0,0,0.9);
	text-align: center;
	position: relative;
	top: 20px;
	left: 0;
	border: 1px solid rgba(0,0,0,0.2);
	width: 80vw;
	background-color: rgba(255,255,255,1.0);
	padding: 15px;
	margin: 0 0 0 0;
}
.wishlist-product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	/*height: 10vh;*/
	width: 100vw;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	padding: 0 20px 0 20px;
	cursor: pointer;
}
.wishlist-product img {
	/*height: 8vh;*/
	height: 40px;
}
/*PROFILE*/
.profile-wrap {
	overflow-y: scroll;
	min-height: auto;
	margin: 10px 0 0 0;
	padding: 0 0 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.name-text {
	font-size: 20px;
	text-align: center;
	border-bottom: none;
	color: rgba(0,0,0,0.9);
	width: 100vw;
	margin: 10px 0 20px 0;
	padding: 0 0 20px 0;
}
.profile-pic {
	background-image: url('person pic.jpg');
	background-size: cover;
	min-height: 150px;
	width: 150px;
	border-radius: 50%;
	-ms-flex-item-align: center;
	    align-self: center;
	margin: 10px 0 10px 0;
	padding: 0 0 0 0;
}
.profile-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin: 10px 0 0 0;
	padding: 0 0 20px 0;
	width: 90vw;
	min-height: auto;
}
.profile-text {
	font-size: 14px;
}
/**/
.footer {

}
.foot-wrap {
	background-color: rgba(234,234,234,1.0);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 100%;
	border-top: 2px solid rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
	        box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1);
	/*height: 10vh;*/
	/*z-index: ;*/
	position: fixed;
	bottom: 0;
}
.foot-wrap i:nth-child(1) {
	color: rgba(0,0,0,1.0);
}
.foot-wrap i {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 20%;
	font-size: 24px;
	color: rgba(0,0,0,0.3);
	padding: 10px;
	border-right: 2px solid rgba(0,0,0,0.1);
	cursor: pointer;
	z-index: 3;
}
.foot-wrap i:nth-child(5) {
	border-right: none;
}
.footer-fixed {
	position: fixed;
	-webkit-box-shadow: 0 5px rgba(0,0,0,0.2);
	        box-shadow: 0 5px rgba(0,0,0,0.2);
}
